
@using Microsoft.Extensions.Configuration;

@inject IConfiguration _configuration;

@model dynamic

<a asp-action="Index"><<< Go to Index</a>

@Html.Display("app_name")
<br />
@Html.Display("app_bool")
<br />
@Html.Display("app_bool2")
<br />
@foreach (string a in ViewBag.app_obj)
{
    <li>@a</li>
}
<br />
@Html.Display("connStr")
<br />
<div>
    @{
        var appname = _configuration.GetValue<string>("AppName");
        <text><b>@appname</b></text>
    }
</div>

<h1>Options, OptionsSnapShot</h1>

<div>
    <h3>Options</h3>
    @if (Model.AuthorDetails is object)
    {
        <ul>
            <li>@Model.AuthorDetails.Name</li>
            <li>@Model.AuthorDetails.Age</li>
            <li>@Model.AuthorDetails.Experience</li>
        </ul>
    }

    <h3>Options Snap</h3>

    @if (Model.AuthorDetailsSnap is object)
    {
        <ul>
            <li>@Model.AuthorDetailsSnap.Name</li>
            <li>@Model.AuthorDetailsSnap.Age</li>
            <li>@Model.AuthorDetailsSnap.Experience</li>
        </ul>
    }

    <h3>Named option snap</h3>

    @if (Model.DeveloperInfo is object)
    {
        <ul>
            <li>@Model.DeveloperInfo.Name</li>
            <li>@Model.DeveloperInfo.Age</li>
            <li>@Model.DeveloperInfo.Experience</li>
        </ul>
    }
</div>

