
@using Microsoft.Extensions.Configuration;

@inject IConfiguration _configuration;

@Html.Display("app_name")
<br />
@Html.Display("app_bool")
<br />
@Html.Display("app_bool2")
<br />
@foreach (string a in ViewBag.app_obj)
{
    <li>@a</li>
}
<br />
@Html.Display("connStr")
<br />
<div>
    @{
        var appname = _configuration.GetValue<string>("AppName");
        <text><b>@appname</b></text>
    }
</div>
<a asp-action="Index"><<< Go to Index</a>
