@using core_tool_empty.Data;


@model Books;


@{
    ViewBag.Title = "Index";
}

<style>
    .smallclose {
        height: 20px;
        width: 20px;
    }
</style>

<a asp-action="Config">Go to Config >>></a>

<div>
    <img src="~/Images/Friends.jpg" alt="Froends" />
    <h1>This is Home - Index</h1>
    @{
        int a = 2 + 5;
    }
    @if (a == 5)
    {
        a++;
        <p> @a</p>
    }
    else
    {
        a--;
        <p> @a</p>
    }

</div>

<div>
    @foreach (var book in ViewBag.bookList)
    {
        <ul>
            <li>@book.Id - @book.Name - @book.Author <a asp-controller="Home" asp-action="delete" asp-route-id="@book.Id"><img class="smallclose" src="~/Images/smallclose.png" alt="X" /> </a> </li>
        </ul>
    }
</div>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(model => model.Name)
            <br />
            @Html.TextBoxFor(model => model.Author)
            <br />
            <input type="submit" value="submit" />
            <br />
            @Html.DisplayFor(model => model.Id)
        </div>
    }
</div>
<div>
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".smallclose").click(function () {
            $.ajax("home/index").
        })
    })
</script>